@font-face
  font-family 'Open Sans'
  src url('../fonts/os.eot')
  src url('../fonts/os.eot?#iefix') format('embedded-opentype'), url('../fonts/os.woff') format('woff'), url('../fonts/os.ttf') format('truetype'), url('../fonts/os.svg#FontName') format('svg')
  font-style normal
  font-weight normal

@font-face
  font-family 'Bickham Script Three'
  src url('../fonts/BickhamScriptThree.eot')
  src url('../fonts/BickhamScriptThree.eot?#iefix') format('embedded-opentype'), url('../fonts/BickhamScriptThree.woff') format('woff'), url('../fonts/BickhamScriptThree.ttf') format('truetype'), url('../fonts/BickhamScriptThree.svg#FontName') format('svg')
  font-style normal
  font-weight 600

@font-face
  font-family 'Philosopher Bold'
  src url('../fonts/Philosopher-Bold.eot')
  src url('../fonts/Philosopher-Bold.eot?#iefix') format('embedded-opentype'), url('../fonts/Philosopher-Bold.woff') format('woff'), url('../fonts/Philosopher-Bold.ttf') format('truetype'), url('../fonts/Philosopher-Bold.svg#FontName') format('svg')
  font-style normal
  font-weight normal

@font-face
  font-family 'OpenSans Light'
  src url('../fonts/OpenSans-Light.eot')
  src url('../fonts/OpenSans-Light.eot?#iefix') format('embedded-opentype'), url('../fonts/OpenSans-Light.woff') format('woff'), url('../fonts/OpenSans-Light.ttf') format('truetype'), url('../fonts/OpenSans-Light.svg#FontName') format('svg')
  font-style normal
  font-weight normal

@font-face
  font-family 'Open Sans Bold'
  src url('../fonts/osb.eot')
  src url('../fonts/osb.eot?#iefix') format('embedded-opentype'), url('../fonts/osb.woff') format('woff'), url('../fonts/osb.ttf') format('truetype'), url('../fonts/osb.svg#FontName') format('svg')
  font-style normal
  font-weight 700
@font-face
  font-family 'Roboto Regular'
  src url('../fonts/Roboto-Regular.eot')
  src url('../fonts/Roboto-Regular.eot?#iefix') format('embedded-opentype'), url('../fonts/Roboto-Regular.woff') format('woff'), url('../fonts/Roboto-Regular.ttf') format('truetype'), url('../fonts/Roboto-Regular.svg#FontName') format('svg')
  font-style normal
  font-weight 700

open()
  font-family: "Open Sans"
bic()
  font-family: "Bickham Script Three"
open-b()
  font-family: "Open Sans Bold"
phil()
  font-family: "Philosopher Bold"
open-l()
  font-family: "OpenSans Light"
robot()
  font-family "Roboto Regular"

