.bx-wrapper {
  border: 0px solid #fff;
}
.bx-wrapper .bx-pager
  text-align: center;
  font-size: .85em;
  font-family: Arial;
  font-weight: bold;
  color: #9c364b;
  padding-top: 6px
  margin-bottom: 12px
  +sm-m()
    display: none
  +xs-m()
    display: none
  +xxs-m()
    display: none
  +ps-m()
    display: none

.bx-wrapper .bx-pager, .bx-wrapper .bx-controls-auto
  position: absolute;
  bottom: 25px;
  padding-bottom: 26px;
  left: 50%;
  padding-top: 6px;
  background: rgba(0,0,0,0.6);
  width: 130px;
  border-radius: 10px;
  height: 33px;
.bx-wrapper .bx-pager.bx-default-pager a:hover, .bx-wrapper .bx-pager.bx-default-pager a.active, .bx-wrapper .bx-pager.bx-default-pager a:focus
  background: #a94442;
.bx-wrapper .bx-pager.bx-default-pager a
  background: #fff;

.slider
  &__box
    position: absolute
    top: 30%
  &__title
    phil()
    font-size: 42px
    color: #ffffff
    line-height 1em
    margin-bottom: 20px
    +lg-m()
      display: block
    +md-m()
      display: block
    +sm-m()
      display: block
    +xs-m()
      display: none
    +xxs-m()
      display: none
    +ps-m()
      display: none
    &--one
      +lg-m()
        display: none
      +md-m()
        display: none
      +sm-m()
        display: none
      +xs-m()
        display: block
        text-align: center
        font-size: 26px;
        margin-top: 30px;
        margin-left: 45px
      +xxs-m()
        display: block
        text-align: center
        font-size: 22px;
        margin-top: 30px;
      +ps-m()
        display: block
        text-align: center
        font-size: 22px;
        margin-left: 26px
        margin-top: 30px;
  &__text
    open()
    font-size: 18px
    color: #b4b3b3
    +sm-m()
      display: none
    +xs-m()
      display: none
    +xxs-m()
      display: none
    +ps-m()
      display: none
