.visage
  background-color: #f5f5f6
  padding-top: 50px
  padding-bottom: 39px
.city
  background: url(../img/vect2.jpg) 0 0 no-repeat
  padding-top: 16px
  padding-bottom: 16px
  & .container
    position: relative
  &__title
    phil()
    font-size: 30px
    color: #fff
  &__box
    width: 700px
    float: left
  &__text
    open-l()
    font-size: 14px
    line-height: 1.9em
    margin-top: 35px
    margin-bottom: 20px
  &__img
    float: left
    margin-right: 8px
    padding-top: 3px
  &__word
    open-l()
    font-size: 14px
    margin-bottom: 20px
  &__item
    margin-top: 20px
    line-height: 1.9em
    open-l()
    font-size: 14px
  &__visage
    position: absolute
    margin-left: 35px;
    margin-top: -49px;