.bg
  background: url(../img/work.jpg) 0 0 no-repeat
  padding-top: 15px
  padding-bottom: 15px
  margin-bottom: 51px
.cosmetics
  padding-top: 50px
  &__h2
    phil()
    font-size: 30px
    color: #fff
    text-align: center