body
  overflow-x: hidden
.one
  background: url(../img/vct.jpg) center top no-repeat
  +sm-m()
    margin-top: -20px
  +ps-m()
    margin-top: -20px
  +xs-m()
    margin-top: -20px
  +xxs-m()
    margin-top: -20px
.head
  row-flex()
  position: relative
  display: flex
  justify-content: space-between
  position: relative
  &__vector
    position: absolute
    left: 0
    +lg-m()
      left: -45%
    +md-m()
      left: -70%
  &__img
    position: absolute
    right: 0
    z-index: -1
  &__box
    margin: 0 auto
  &__title
    col()
    size-xl(12)
    size-lg(12)
    size-md(12)
    size-sm(12)
    md(font-size, 70px)
    sm(font-size, 59px)
    bic()
    color: #c6004a
    text-align: center
    font-size: 115px
    margin-top: 75px
  &__work
    text-align: center
    md(margin-top, 0)
    sm(margin-top, 0)
    open()
    font-size: 18px
    text-transform: uppercase
    color: #3d3243
    margin-top: -60px
    margin-bottom: 10px
  &__phone
    text-align: center
    phil()
    font-size: 22px
    color: #ac0041
    margin-bottom: 52px
.menu
  padding-bottom: 23px
  &__ul
    display: flex
    flex-direction: row
    text-align: center
    justify-content: space-between
  &__li
    &--left
      margin-left: 186px
    &--one
      position: absolute
      display: flex
      left: 72%;
      top: 222px;
      +xs-m()
        left: 40%
      +xxs-m()
        left: 40%
  &__a
    font-size: 24px
    text-transform: uppercase
    color: #5f5059
    phil()
    &:hover
      color: #c6004a
      text-decoration: none
  &__social
    background: url(../img/vk.png) 0 0 no-repeat
    float: left
    display: block
    width: 37px
    height: 37px
    margin-right: 11px
    &:hover
      background: url(../img/vk1.png) 0 0 no-repeat
  &__inst
    background: url(../img/inst.png) 0 0 no-repeat
    float: left
    display: block
    width: 37px
    height: 37px
    &:hover
      background: url(../img/inst1.png) 0 0 no-repeat
  &__in
    margin-bottom: 24px
  &__sub
    display: flex
    justify-content: space-around
    & li
      list-style-type: disc
      color: #776e7d
      &:hover
        color: #000000
  &__makeup
    color: #776e7d
    open()
    font-size: 16px
    &:hover
      color: #000000
      font-size: 14.5px
      open-b()
      text-decoration: none
.act
  color: #000;
  font-size: 14.5px;
  font-family: 'Open Sans Bold';
  text-decoration: none;
