<section>
    <div class="women">
        <img src="img/w1.jpg" alt="Women" class="women__img">
        <img src="img/w2.jpg" alt="Women" class="women__img">
        <img src="img/w3.jpg" alt="Women" class="women__img">
        <img src="img/w4.jpg" alt="Women" class="women__img">
        <img src="img/w5.jpg" alt="Women" class="women__img">
        <img src="img/w6.jpg" alt="Women" class="women__img">
        <img src="img/w7.jpg" alt="Women" class="women__img">
        <img src="img/w8.jpg" alt="Women" class="women__img">
    </div>
</section>