<footer>
    <div class="foot">
        <div class="container">
            <img src="img/up_f.png" alt="Up" class="foot__up hidden-xs hidden-sm">
            <p class="foot__contacts">
                Контакты
            </p>
            <div class="foot__dest">
                <div class="foot__box"></div>
                <img src="img/st.png" alt="" class="foot__img">
                <div class="foot__box"></div>
            </div>
            <div class="foot__social">
                <p class="foot__text foot__text--one">
                    <img src="img/tel.png" alt="" class="foot__icn"> тел./watsup:
                </p>
                <p class="foot__word">
                    8-918-391-77-95
                </p>
            </div>
            <div class="foot__social">
                <p class="foot__text">
                    <img src="img/inst-f.png" alt="" class="foot__icn"> instagram:
                </p>
                <p class="foot__word">
                    vizazhistirina
                </p>
            </div>
            <div class="foot__social">
                <p class="foot__text foot__text--two">
                    <img src="img/vk-f.png" alt="" class="foot__icn"> vk:
                </p>
                <p class="foot__word">
                    vizazhist_irina
                </p>
            </div>
            <a href="#" class="foot__btn">
                2 154 854 <img src="img/rect1.png" alt="Rectangle" class="foot__tangl">
            </a>
        </div>
    </div>
</footer>