<section class="up">
    <div class="makeup">
        <div class="container">
            <div class="makeup__box">
                <h1 class="makeup__title">
                    Свадебный макияж в Краснодаре
                </h1>
            </div>
            <div class="slider1">
                <ul class="bxslider1">
                    <li>
                        <img src="img/slide-mk.jpg" class="slider__item" alt="Макияж">
                    </li>
                    <li>
                        <img src="img/slide-mk.jpg" class="slider__item" alt="Макияж">
                    </li>
                    <li>
                        <img src="img/slide-mk.jpg" class="slider__item" alt="Макияж">
                    </li>
                    <li>
                        <img src="img/slide-mk.jpg" class="slider__item" alt="Макияж">
                    </li>
                </ul>
            </div>
            <img src="img/im-mk.jpg" alt="Макияж" class="makeup__img">
        </div>
    </div>
    <div class="work">
        <div class="container">
            <p class="work__title">
                Мои работы
            </p>
            <div class="work__box">
                <div class="work__hidden">
                    <a rel="colorbox" href="img/wrk1-n.jpg" >
                        <img src="img/wrk1.jpg" alt="Макияж" class="work__img">
                        <div class="work__search">
                            <img src="img/search2.png" alt="" class="work__look">
                        </div>
                    </a>

                </div>
                <div class="work__hidden">
                    <a rel="colorbox" href="img/wrk2-n.jpg" >
                        <img src="img/wrk2.jpg" alt="Макияж" class="work__img">
                        <div class="work__search">
                            <img src="img/search2.png" alt="" class="work__look">
                        </div>
                    </a>

                </div>
                <div class="work__hidden">
                    <a rel="colorbox" href="img/wrk3-n.jpg" >
                        <img src="img/wrk3.jpg" alt="Макияж" class="work__img">
                        <div class="work__search">
                            <img src="img/search2.png" alt="" class="work__look">
                        </div>
                    </a>

                </div>
                <div class="work__hidden">
                    <a rel="colorbox" href="img/wrk4-n.jpg" >
                        <img src="img/wrk4.jpg" alt="Макияж" class="work__img work__img--one">
                        <div class="work__search">
                            <img src="img/search2.png" alt="" class="work__look">
                        </div>
                    </a>
                </div>
            </div>
            <div class="work__box work__box--one">
                <div class="work__hidden work__hidden--one">
                    <a rel="colorbox" href="img/wrk1-n.jpg" >
                        <img src="img/wrk1.jpg" alt="Макияж" class="work__img work__img--one">
                        <div class="work__search">
                            <img src="img/search2.png" alt="" class="work__look">
                        </div>
                    </a>
                </div>
                <div class="work__hidden work__hidden--two">
                    <a rel="colorbox" href="img/wrk2-n.jpg" >
                        <img src="img/wrk2.jpg" alt="Макияж" class="work__img">
                        <div class="work__search">
                            <img src="img/search2.png" alt="" class="work__look">
                        </div>
                    </a>
                </div>
                <div class="work__hidden work__hidden--three">
                    <a rel="colorbox" href="img/wrk3-n.jpg" >
                        <img src="img/wrk3.jpg" alt="Макияж" class="work__img">
                        <div class="work__search">
                            <img src="img/search2.png" alt="" class="work__look">
                        </div>
                    </a>
                </div>
                <div class="work__hidden work__hidden--four">
                    <a rel="colorbox" href="img/wrk4-n.jpg" >
                        <img src="img/wrk4.jpg" alt="Макияж" class="work__img">
                        <div class="work__search">
                            <img src="img/search2.png" alt="" class="work__look">
                        </div>
                    </a>
                </div>
            </div>
            <div class="work__box">
                <div class="work__hidden">
                    <a rel="colorbox" href="img/wrk1-n.jpg" >
                        <img src="img/wrk1.jpg" alt="Макияж" class="work__img">
                        <div class="work__search">
                            <img src="img/search2.png" alt="" class="work__look">
                        </div>
                    </a>
                </div>
                <div class="work__hidden">
                    <a rel="colorbox" href="img/wrk2-n.jpg" >
                        <img src="img/wrk2.jpg" alt="Макияж" class="work__img">
                        <div class="work__search">
                            <img src="img/search2.png" alt="" class="work__look">
                        </div>
                    </a>
                </div>
                <div class="work__hidden">
                    <a rel="colorbox" href="img/wrk3-n.jpg" >
                        <img src="img/wrk3.jpg" alt="Макияж" class="work__img">
                        <div class="work__search">
                            <img src="img/search2.png" alt="" class="work__look">
                        </div>
                    </a>
                </div>
                <div class="work__hidden">
                    <a rel="colorbox" href="img/wrk4-n.jpg" >
                        <img src="img/wrk4.jpg" alt="Макияж" class="work__img work__img--one">
                        <div class="work__search">
                            <img src="img/search2.png" alt="" class="work__look">
                        </div>
                    </a>
                </div>
            </div>
            <div class="work__box work__box--one">
                <div class="work__hidden work__hidden--one">
                    <a rel="colorbox" href="img/wrk1-n.jpg" >
                        <img src="img/wrk1.jpg" alt="Макияж" class="work__img work__img--one">
                        <div class="work__search">
                            <img src="img/search2.png" alt="" class="work__look">
                        </div>
                    </a>
                </div>
                <div class="work__hidden work__hidden--two">
                    <a rel="colorbox" href="img/wrk2-n.jpg" >
                        <img src="img/wrk2.jpg" alt="Макияж" class="work__img">
                        <div class="work__search">
                            <img src="img/search2.png" alt="" class="work__look">
                        </div>
                    </a>
                </div>
                <div class="work__hidden work__hidden--three">
                    <a rel="colorbox" href="img/wrk3-n.jpg" >
                        <img src="img/wrk3.jpg" alt="Макияж" class="work__img">
                        <div class="work__search">
                            <img src="img/search2.png" alt="" class="work__look">
                        </div>
                    </a>
                </div>
                <div class="work__hidden work__hidden--four">
                    <a rel="colorbox" href="img/wrk4-n.jpg" >
                        <img src="img/wrk4.jpg" alt="Макияж" class="work__img">
                        <div class="work__search">
                            <img src="img/search2.png" alt="" class="work__look">
                        </div>
                    </a>
                </div>
            </div>
            <div class="work__box">
                <div class="work__hidden">
                    <a rel="colorbox" href="img/wrk1-n.jpg" >
                        <img src="img/wrk1.jpg" alt="Макияж" class="work__img">
                        <div class="work__search">
                            <img src="img/search2.png" alt="" class="work__look">
                        </div>
                    </a>
                </div>
                <div class="work__hidden">
                    <a rel="colorbox" href="img/wrk2-n.jpg" >
                        <img src="img/wrk2.jpg" alt="Макияж" class="work__img">
                        <div class="work__search">
                            <img src="img/search2.png" alt="" class="work__look">
                        </div>
                    </a>
                </div>
                <div class="work__hidden">
                    <a rel="colorbox" href="img/wrk3-n.jpg" >
                        <img src="img/wrk3.jpg" alt="Макияж" class="work__img">
                        <div class="work__search">
                            <img src="img/search2.png" alt="" class="work__look">
                        </div>
                    </a>
                </div>
                <div class="work__hidden">
                    <a rel="colorbox" href="img/wrk4-n.jpg" >
                        <img src="img/wrk4.jpg" alt="Макияж" class="work__img work__img--one">
                        <div class="work__search">
                            <img src="img/search2.png" alt="" class="work__look">
                        </div>
                    </a>
                </div>
            </div>
        </div>
    </div>
    <div class="batn">
        <div class="container">
            <a href="#" class="batn__all">
                Cмотреть все работы
                <img src="img/rect.png" alt="Arrow" class="batn__arrow">
            </a>
        </div>
    </div>
</section>