<section>
    <div class="cosmetics">
        <div class="container">
            <div class="bg">
                <h2 class="cosmetics__h2">
                    Работаю только с профессиональной косметикой
                </h2>
            </div>
            <div class="cosmetics__box">
                <img src="img/londa.png" alt="Косметика" class="cosmetics__img">
                <img src="img/kapous.png" alt="Косметика" class="cosmetics__img">
                <img src="img/beauty.png" alt="Косметика" class="cosmetics__img">
                <img src="img/lakme.png" alt="Косметика" class="cosmetics__img">
            </div>
            <div class="cosmetics__box">
                <img src="img/loreal.png" alt="Косметика" class="cosmetics__img">
                <img src="img/cristina.png" alt="Косметика" class="cosmetics__img">
                <img src="img/gatinea.png" alt="Косметика" class="cosmetics__img">
                <img src="img/professional.png" alt="Косметика" class="cosmetics__img">
            </div>
            <div class="cosmetics__box">
                <img src="img/estel.png" alt="Косметика" class="cosmetics__img">
                <img src="img/academie.png" alt="Косметика" class="cosmetics__img">
                <img src="img/color.png" alt="Косметика" class="cosmetics__img">
                <img src="img/cutrin.png" alt="Косметика" class="cosmetics__img">
            </div>
        </div>
    </div>
</section>