<section>
    <div class="try">
        <div class="container">
            <div class="makeup__box">
                <h1 class="makeup__title">
                    Пробный свадебный макияж в Краснодаре
                </h1>
            </div>
            <div class="try__box">
                <p class="try__text">
                    Если вам нужен Lorem Ipsum для серьёзного
                    проекта, вы наверняка не хотите какой-нибудь
                    шутки, скрытой в середине абзаца. Также все
                    другие известные генераторы Lorem Ipsum используют
                    один и тот же текст, который они просто повторяют,
                    пока не достигнут нужный объём. Это делает
                    предлагаемый здесь генератор единственным
                    настоящим Lorem Ipsum генератором.
                    Он использует словарь из более чем 200 латинских
                    слов, а также набор моделей предложений. <br><br>
                </p>
                <ul class="city__ul">
                    <li class="city__li">
                        <img src="img/line.png" alt="Леписток" class="city__img">
                        <p class="city__word">
                            Имею опыт работы в сфере более 9 лет.
                        </p>
                    </li>
                    <li class="city__li">
                        <img src="img/line.png" alt="Леписток" class="city__img">
                        <p class="city__word">
                            Это делает предлагаемый здесь генератор единственным настоящим Lorem Ipsum генератором.
                        </p>
                    </li>
                </ul>
            </div>
            <div class="try__step">
                <div class="try__title">
                    <p class="try__word">
                        Цена на свадебный макияж в Краснодаре
                    </p>
                </div>
                <p class="try__item">
                    Точную стоимость и свободную дату уточняйте по:
                </p>
                <div class="try__ext"></div>
                <div class="foot__social">
                    <p class="foot__text foot__text--one foot__text--try">
                        <img src="img/try1.png" alt="" class="foot__icn"> тел./watsup:
                    </p>
                    <p class="foot__word foot__word--one">
                        8-918-391-77-95
                    </p>
                </div>
                <div class="foot__social">
                    <p class="foot__text foot__text--try">
                        <img src="img/try2.png" alt="" class="foot__icn"> instagram:
                    </p>
                    <p class="foot__word foot__word--one">
                        vizazhistirina
                    </p>
                </div>
                <div class="foot__social">
                    <p class="foot__text foot__text--two foot__text--try">
                        <img src="img/try3.png" alt="" class="foot__icn"> vk:
                    </p>
                    <p class="foot__word foot__word--one">
                        vizazhist_irina
                    </p>
                </div>
            </div>
        </div>
    </div>
</section>
<section>
    <div class="number number__one">
        <div class="container">
            <div class="number__box">
                <div class="number__item">
                    <p class="number__col">
                        128
                    </p>
                    <p class="number__ref">
                        нереальных <br>
                        невест
                    </p>
                </div>
                <div class="number__item visible-lg">
                    <p class="number__col">
                        59
                    </p>
                    <p class="number__ref">
                        неповторимых <br>
                        выпускниц
                    </p>
                </div>
                <div class="number__item visible-lg">
                    <p class="number__col">
                        24
                    </p>
                    <p class="number__ref">
                        довольные <br>
                        ювилярши
                    </p>
                </div>
                <div class="number__item visible-lg">
                    <p class="number__col">
                        163
                    </p>
                    <p class="number__ref">
                        невероятных <br>
                        именинниц
                    </p>
                </div>
                <div class="number__item hidden-lg">
                    <p class="number__col">
                        1592
                    </p>
                    <p class="number__ref">
                        обалдевших <br>
                        гостей
                    </p>
                </div>
                <div class="number__item hidden-lg">
                    <p class="number__col">
                        24
                    </p>
                    <p class="number__ref">
                        восхищенных <br>
                        женихов
                    </p>
                </div>
            </div>
        </div>
    </div>
</section>