<section class="visage">
    <div class="city">
        <div class="container">
            <h1 class="city__title">
                Визажист Краснодара
            </h1>
            <div class="city__box">
                <p class="city__text">
                    Если вам нужен Lorem Ipsum для серьёзного проекта, вы наверняка
                    не хотите какой-нибудь шутки, скрытой в середине абзаца. Также
                    все другие известные генераторы Lorem Ipsum используют один и
                    тот же текст, который они просто повторяют, пока не достигнут
                    нужный объём. Это делает предлагаемый здесь генератор единственным
                    настоящим Lorem Ipsum генератором. Он использует словарь из более
                    чем 200 латинских слов, а также набор моделей предложений.
                </p>
                <ul class="city__ul">
                    <li class="city__li">
                        <img src="img/line.png" alt="Леписток" class="city__img">
                        <p class="city__word">
                            Имею опыт работы в сфере более 9 лет.
                        </p>
                    </li>
                    <li class="city__li">
                        <img src="img/line.png" alt="Леписток" class="city__img">
                        <p class="city__word">
                            Это делает предлагаемый здесь генератор единственным настоящим Lorem Ipsum генератором.
                        </p>
                    </li>
                    <li class="city__li">
                        <img src="img/line.png" alt="Леписток" class="city__img">
                        <p class="city__word">
                            Это делает предлагаемый здесь генератор единственным настоящим Lorem Ipsum генератором.
                        </p>
                    </li>
                    <li class="city__li">
                        <img src="img/line.png" alt="Леписток" class="city__img">
                        <p class="city__word">
                            Это делает предлагаемый здесь генератор единственным настоящим Lorem Ipsum генератором.
                        </p>
                    </li>
                </ul>
                <p class="city__item">
                    Если вам нужен Lorem Ipsum для серьёзного проекта, вы наверняка не хотите какой-нибудь шутки,
                    скрытой в середине абзаца.
                </p>
            </div>
            <img src="img/vect_v.png" alt="Визажист" class="city__visage">
        </div>
    </div>
</section>