<section>
    <div class="head">
        <img src="img/vector.png" alt="Цветы" class="head__vector">
        <div class="head__box">
            <p class="head__title">
                Ирина Белова
            </p>
            <p class="head__work">
                Визажист-стилист Краснодара
            </p>
            <p class="head__phone">
                +7 (905) 665-86-98
            </p>
        </div>
        <img src="img/vector2.png" alt="Цветы" class="head__img">
    </div>
    <div class="menu">
        <div class="container">
            <nav>
                <ul class="menu__ul">
                    <li class="menu__li menu__li--left">
                        <a href="" class="menu__a">Макияж</a>
                    </li>
                    <li class="menu__li">
                        <a href="" class="menu__a">Прически</a>
                    </li>
                    <li class="menu__li">
                        <a href="" class="menu__a">мои работы</a>
                    </li>
                    <li class="menu__li">
                        <a href="" class="menu__a">Курсы</a>
                    </li>
                    <li class="menu__li">
                        <a href="#" class="menu__social"></a>
                        <a href="#" class="menu__inst"></a>
                    </li>
                </ul>
            </nav>
            <img src="img/shape.png" alt="" class="menu__in">
        </div>
    </div>
</section>