<section>
    <div class="cosmetics">
        <div class="container">
            <div class="bg">
                <h2 class="cosmetics__h2">
                    Работаю только с профессиональной косметикой
                </h2>
            </div>
            <img src="img/icn1.png" alt="Косметика" class="cosmetics__img">
            <img src="img/icn2.png" alt="Косметика" class="cosmetics__img">
            <img src="img/icn3.png" alt="Косметика" class="cosmetics__img">
        </div>
    </div>
</section>