<section>
    <div class="mobile">
        <div class="container">
            <div class="mobile__sub">
                Макияж <div class="mobile__arrow"></div>
            </div>
            <ul class="mobile__ul clearfix hidden-lg hidden-md">
                <li class="mobile__li">
                    <a href="#" class="mobile__a">
                        <div class="mobile__icn mobile__icn--one"></div> Свадебный макияж
                    </a>
                    <div class="mobile__ar"></div>
                </li>
                <li class="mobile__li">
                    <a href="#" class="mobile__a">
                        <div class="mobile__icn mobile__icn--two"></div> Вечерний макияж
                    </a>
                    <div class="mobile__ar"></div>
                </li>
                <li class="mobile__li">
                    <a href="#" class="mobile__a">
                        <div class="mobile__icn mobile__icn--three"></div> Дневной макияж
                    </a>
                    <div class="mobile__ar"></div>
                </li>
                <li class="mobile__li">
                    <a href="#" class="mobile__a">
                        <div class="mobile__icn mobile__icn--four"></div> Макияж для фотосессий
                    </a>
                    <div class="mobile__ar"></div>
                </li>
            </ul>
            <a href="#" class="mobile__item">
                Прически <div class="mobile__icon"></div>
            </a>
            <a href="#" class="mobile__item">
                мои работы <div class="mobile__icon"></div>
            </a>
            <a href="#" class="mobile__item mobile__item--one">
                Курсы <div class="mobile__icon"></div>
            </a>
        </div>
    </div>
</section>