<section class="one" id="up">
    <div class="head">
        <!--<img src="img/vector.png" alt="Цветы" class="head__vector">-->
        <div class="container">
            <div class="head__box">
                <p class="head__title">
                    Ирина Белова
                </p>
                <p class="head__work">
                    Визажист-стилист Краснодара
                </p>
                <p class="head__phone">
                    +7 (905) 665-86-98
                </p>
            </div>
        </div>
        <!--<img src="img/vector2.png" alt="Цветы" class="head__img">-->
    </div>
    <div class="menu">
        <div class="container">
            <nav class="visible-lg visible-md">
                <ul class="menu__ul">
                    <li class="menu__li menu__li--left">
                        <a href="index.html" class="menu__a">Макияж</a>
                    </li>
                    <li class="menu__li">
                        <a href="hair.html" class="menu__a">Прически</a>
                    </li>
                    <li class="menu__li">
                        <a href="#" class="menu__a">мои работы</a>
                    </li>
                    <li class="menu__li">
                        <a href="#" class="menu__a">Курсы</a>
                    </li>
                    <li class="menu__li">
                        <a href="#" class="menu__social"></a>
                        <a href="#" class="menu__inst"></a>
                    </li>
                </ul>
            </nav>
            <div class="container">
                <div class="menu__li menu__li--one hidden-md hidden-lg">
                    <a href="#" class="menu__social"></a>
                    <a href="#" class="menu__inst"></a>
                </div>
            </div>
            <img src="img/shape.png" alt="Shape" class="menu__in visible-lg visible-md">
            <div class="visible-lg visible-md">
                <ul class="menu__sub">
                    <li class="menu__word">
                        <a href="wedding.html" class="menu__makeup">Свадебный макияж</a>
                    </li>
                    <li class="menu__word">
                        <a href="wedding-2.html" class="menu__makeup">Вечерний макияж</a>
                    </li>
                    <li class="menu__word">
                        <a href="wedding-3.html" class="menu__makeup">Дневной макияж</a>
                    </li>
                    <li class="menu__word">
                        <a href="wedding-4.html" class="menu__makeup act">Макияж для фотосесий</a>
                    </li>
                    <li class="menu__word">
                        <a href="#" class="menu__makeup">Портфолио</a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</section>