<section class="up">
    <div class="makeup">
        <div class="container">
            <div class="makeup__box">
                <h1 class="makeup__title">
                    Макияж в Краснодаре
                </h1>
            </div>
            <div class="slider1">
                <ul class="bxslider1">
                    <li>
                        <img src="/img/slide2.jpg" class="slider__item" alt="Макияж">
                    </li>
                    <li>
                        <img src="/img/slide2.jpg" class="slider__item" alt="Макияж">
                    </li>
                    <li>
                        <img src="/img/slide2.jpg" class="slider__item" alt="Макияж">
                    </li>
                    <li>
                        <img src="/img/slide2.jpg" class="slider__item" alt="Макияж">
                    </li>
                </ul>
            </div>
            <img src="img/img3.jpg" alt="Макияж" class="makeup__img">
        </div>
    </div>
    <div class="work">
        <div class="container">
            <p class="work__title">
                Мои работы
            </p>
            <div class="work__box">
                <div class="work__hidden work__hidden">
                    <img src="img/wrk1.jpg" alt="Макияж" class="work__img">
                        <div class="work__search">
                            <img src="img/search2.png" alt="" class="work__look">
                        </div>
                </div>
                <div class="work__hidden work__hidden">
                    <img src="img/wrk2.jpg" alt="Макияж" class="work__img">
                        <div class="work__search work__search--two">
                            <img src="img/search2.png" alt="" class="work__look">
                        </div>
                </div>
                <div class="work__hidden work__hidden">
                    <img src="img/wrk3.jpg" alt="Макияж" class="work__img">
                    <div class="work__search work__search--three">
                        <img src="img/search2.png" alt="" class="work__look">
                    </div>
                </div>
                <div class="work__hidden work__hidden">
                    <img src="img/wrk4.jpg" alt="Макияж" class="work__img work__img--one">
                    <div class="work__search">
                        <img src="img/search2.png" alt="" class="work__look">
                    </div>
                </div>
            </div>
            <div class="work__box work__box--one">
                <div class="work__hidden work__hidden--one">
                    <img src="img/wrk1.jpg" alt="Макияж" class="work__img  work__img--one">
                    <div class="work__search">
                        <img src="img/search2.png" alt="" class="work__look">
                    </div>
                </div>
                <div class="work__hidden work__hidden--two">
                    <img src="img/wrk2.jpg" alt="Макияж" class="work__img">
                    <div class="work__search work__search--two">
                        <img src="img/search2.png" alt="" class="work__look">
                    </div>
                </div>
                <div class="work__hidden work__hidden--three">
                    <img src="img/wrk3.jpg" alt="Макияж" class="work__img">
                    <div class="work__search work__search--three">
                        <img src="img/search2.png" alt="" class="work__look">
                    </div>
                </div>
                <div class="work__hidden work__hidden--four">
                    <img src="img/wrk4.jpg" alt="Макияж" class="work__img">
                    <div class="work__search">
                        <img src="img/search2.png" alt="" class="work__look">
                    </div>
                </div>
            </div>
            <div class="work__box">
                <div class="work__hidden work__hidden">
                    <img src="img/wrk1.jpg" alt="Макияж" class="work__img">
                    <div class="work__search">
                        <img src="img/search2.png" alt="" class="work__look">
                    </div>
                </div>
                <div class="work__hidden work__hidden">
                    <img src="img/wrk2.jpg" alt="Макияж" class="work__img">
                    <div class="work__search work__search--two">
                        <img src="img/search2.png" alt="" class="work__look">
                    </div>
                </div>
                <div class="work__hidden work__hidden">
                    <img src="img/wrk3.jpg" alt="Макияж" class="work__img">
                    <div class="work__search work__search--three">
                        <img src="img/search2.png" alt="" class="work__look">
                    </div>
                </div>
                <div class="work__hidden work__hidden">
                    <img src="img/wrk4.jpg" alt="Макияж" class="work__img work__img--one">
                    <div class="work__search">
                        <img src="img/search2.png" alt="" class="work__look">
                    </div>
                </div>
            </div>
            <div class="work__box work__box--one">
                <div class="work__hidden work__hidden--one">
                    <img src="img/wrk1.jpg" alt="Макияж" class="work__img  work__img--one">
                    <div class="work__search">
                        <img src="img/search2.png" alt="" class="work__look">
                    </div>
                </div>
                <div class="work__hidden work__hidden--two">
                    <img src="img/wrk2.jpg" alt="Макияж" class="work__img">
                    <div class="work__search work__search--two">
                        <img src="img/search2.png" alt="" class="work__look">
                    </div>
                </div>
                <div class="work__hidden work__hidden--three">
                    <img src="img/wrk3.jpg" alt="Макияж" class="work__img">
                    <div class="work__search work__search--three">
                        <img src="img/search2.png" alt="" class="work__look">
                    </div>
                </div>
                <div class="work__hidden work__hidden--four">
                    <img src="img/wrk4.jpg" alt="Макияж" class="work__img">
                    <div class="work__search">
                        <img src="img/search2.png" alt="" class="work__look">
                    </div>
                </div>
            </div>
            <div class="work__box">
                <div class="work__hidden work__hidden">
                    <img src="img/wrk1.jpg" alt="Макияж" class="work__img">
                    <div class="work__search">
                        <img src="img/search2.png" alt="" class="work__look">
                    </div>
                </div>
                <div class="work__hidden work__hidden">
                    <img src="img/wrk2.jpg" alt="Макияж" class="work__img">
                    <div class="work__search work__search--two">
                        <img src="img/search2.png" alt="" class="work__look">
                    </div>
                </div>
                <div class="work__hidden work__hidden">
                    <img src="img/wrk3.jpg" alt="Макияж" class="work__img">
                    <div class="work__search work__search--three">
                        <img src="img/search2.png" alt="" class="work__look">
                    </div>
                </div>
                <div class="work__hidden work__hidden">
                    <img src="img/wrk4.jpg" alt="Макияж" class="work__img work__img--one">
                    <div class="work__search">
                        <img src="img/search2.png" alt="" class="work__look">
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="batn">
        <div class="container">
            <a href="#" class="batn__all">
                Cмотреть все работы
                <img src="img/rect.png" alt="Arrow" class="batn__arrow">
            </a>
        </div>
    </div>
</section>