<section>
    <div class="slider">
        <ul class="bxslider">
            <li>
                <div class="container">
                    <div class="slider__box">
                        <p class="slider__title">
                            Достигнем <br>
                            совершенства вместе!
                        </p>
                        <p class="slider__title slider__title--one">
                            Достигнем
                            совершенства!
                        </p>
                        <p class="slider__text">
                            Вечерний макияж <br>
                            от 3000 руб. у Вас дома
                        </p>
                    </div>
                </div>
                <img src="/img/slide.jpg">
            </li>
            <li>
                <div class="container">
                    <div class="slider__box">
                        <p class="slider__title">
                            Достигнем <br>
                            совершенства вместе!
                        </p>
                        <p class="slider__title slider__title--one">
                            Достигнем
                            совершенства!
                        </p>
                        <p class="slider__text">
                            Вечерний макияж <br>
                            от 3000 руб. у Вас дома
                        </p>
                    </div>
                </div>
                <img src="/img/slide.jpg">
            </li>
            <li>
                <div class="container">
                    <div class="slider__box">
                        <p class="slider__title">
                            Достигнем <br>
                            совершенства вместе!
                        </p>
                        <p class="slider__title slider__title--one">
                            Достигнем
                            совершенства!
                        </p>
                        <p class="slider__text">
                            Вечерний макияж <br>
                            от 3000 руб. у Вас дома
                        </p>
                    </div>
                </div>
                <img src="/img/slide.jpg">
            </li>
            <li>
                <div class="container">
                    <div class="slider__box">
                        <p class="slider__title">
                            Достигнем <br>
                            совершенства вместе!
                        </p>
                        <p class="slider__title slider__title--one">
                            Достигнем
                            совершенства!
                        </p>
                        <p class="slider__text">
                            Вечерний макияж <br>
                            от 3000 руб. у Вас дома
                        </p>
                    </div>
                </div>
                <img src="/img/slide.jpg">
            </li>
        </ul>
    </div>
</section>