<section>
    <div class="container">
    <div class="slider">
        <ul class="bxslider">
            <li>
                <div class="container">
                    <div class="slider__box">
                        <p class="slider__title">
                            Свадебный <br>
                            профессиональный <br>
                            макияж
                        </p>
                        <p class="slider__title slider__title--one">
                            Достигнем
                            совершенства!
                        </p>
                        <p class="slider__text slider__text--one">
                            Свадебний макияж <br>
                            от 6000 руб. у Вас дома
                        </p>
                    </div>
                </div>
                <img src="img/side-mk.jpg">
            </li>
            <li>
                <div class="container">
                    <div class="slider__box">
                        <p class="slider__title">
                            Свадебный <br>
                            профессиональный <br>
                            макияж
                        </p>
                        <p class="slider__title slider__title--one">
                            Достигнем
                            совершенства!
                        </p>
                        <p class="slider__text slider__text--one">
                            Свадебний макияж <br>
                            от 6000 руб. у Вас дома
                        </p>
                    </div>
                </div>
                <img src="img/side-mk.jpg">
            </li>
            <li>
                <div class="container">
                    <div class="slider__box">
                        <p class="slider__title">
                            Свадебный <br>
                            профессиональный <br>
                            макияж
                        </p>
                        <p class="slider__title slider__title--one">
                            Достигнем
                            совершенства!
                        </p>
                        <p class="slider__text ">
                            Свадебний макияж <br>
                            от 6000 руб. у Вас дома
                        </p>
                    </div>
                </div>
                <img src="img/side-mk.jpg">
            </li>
            <li>
                <div class="container">
                    <div class="slider__box">
                        <p class="slider__title">
                            Свадебный <br>
                            профессиональный <br>
                            макияж
                        </p>
                        <p class="slider__title slider__title--one">
                            Достигнем
                            совершенства!
                        </p>
                        <p class="slider__text">
                            Свадебний макияж <br>
                            от 6000 руб. у Вас дома
                        </p>
                    </div>
                </div>
                <img src="img/side-mk.jpg">
            </li>
        </ul>
    </div>
    </div>
</section>