@import "components/smart-grid.styl"
@import "nib"
@import "components/_variables.styl"
@import "components/_mixin.styl"
@import "components/_typography.styl"
@import "components/_input.styl"
@import "components/page-header.styl"
@import "components/page-mob-menu.styl"
@import "components/page-slider.styl"
@import "components/page-makeup.styl"
@import "components/page-visage.styl"
@import "components/page-cosmetics.styl"
@import "components/page-wedding.styl"
@import "components/page-women.styl"
@import "components/page-footer.styl"
@import "components/page-try.styl"

